<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveCount > 0,
                'list-group-item-danger': post.loveCount < 0}" style="margin-top: 10px">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h5 [ngStyle]="{color: getPostTitleColor()}" style="margin-top: 10px"> {{ post.title }} </h5>
        <p style="color: grey; margin-top: 10px"><i>{{ post.createdAt | date: 'short' }}</i></p>
        <hr style="color: grey; margin-top: 0px">
        <p style="margin-bottom: 30px">{{ post.content }}</p>
      </div>
    </div>
    <div class="row">
      <div class=col>
        <button type="button" class="btn btn-success" (click)="onLoveItClicked()">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px" (click)="onDontLoveItClicked()">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        <button type="button" class="btn btn-danger pull-right" (click)="onDeletePost()">
          <span class="glyphicon glyphicon-trash" ></span>
        </button>
      </div>
    </div>
  </div>
</li>