<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 style="margin-bottom: 40px">Créer un nouveau post</h2>
        <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title" formControlName="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea type="text" id="content" rows="6" formControlName="content" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" style="margin-top: 20px" [disabled]="postForm.invalid">Enregistrer</button>
        </form>
    </div>
</div>